{% extends 'base.html' %}

{% block content %}
   <h1>Benefits of Active Surveillance</h1>
   <hr>
	<ul>
		<li>The evidence does not show a difference in the number of deaths from prostate cancer among people offered active surveillance, 
		prostatectomy or radical radiotherapy.</li>
		<li>There is some evidence that urinary function is better for people offered active surveillance than those offered prostatectomy.</li>
		<ul>
			<p>Examples of urinary problems include:</p>
			<li>feeling the need to pass water more often</li>
			<li>urinary incontinence and sometimes needing a catheter(a tube in to the bladder to help you pass water) </li>
		</ul>
		<br>
		<li>There is some limited evidence that sexual function is better for people offered active surveillance than those offered prostatectomy.</li>
		<li>There is some evidence that bowel function is better for people offered active surveillance than those offered radiotherapy 
		in the short term.</li>
		<ul>
			<p>Examples of bowel problems include:</p>
			<li>increased frequency of stools</li>
			<li>runny stools and passing blood</li>
		</ul>
		<br>
	</ul>
{% endblock %}