{% extends 'base.html' %}

{% block content %}
   <style>
	#criteria {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	}

	#criteria td, #criteria th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}

	#criteria tr:nth-child(even){background-color: #f2f2f2;}

	#criteria tr:hover {background-color: #ddd;}

	#criteria th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #1E90FF;
	  color: white;
	}
   </style>
   <h1>CPG Group 1</h1>
   <p>Your prognostic category is – CPG 1.</p>
   <hr>
   <p>Your prognostic category was based on the following prognostic criteria. (Please check).</p>
   <table id = "criteria" style="width:100%">
		<tr>
			<th>Grade Group</th>
			<th>PSA</th>
			<th>Stage</th>
		</tr>
<!--		<tr>
			<td>submitted value</td>
			<td>submitted value</td>
			<td>submitted value</td>
		</tr>	-->
		<tr>
			<td>{{ grade }}</td>
			<td>{{ psa }}</td>
			<td>{{ stage }}</td>
		</tr>	
<!--		<tr>
			<script>
			<td>document.write("grade")</td>
			<td>document.write("psa")</td>
			<td>document.write("stage")</td>
			</script>
		</tr> -->
	</table>
   <hr>
   <p>The prognosis from a CPG1 cancer is very good and your risk of dying of prostate cancer is likelyto be much less compared to 
   your risk of dying of other causes. The risk that the cancer may spread (metastasis) is also very low and uncommon. Immediate treatment 
    is considered unlikely to confer much benefit to you.
    The National Institute for Health Care Excellence currently recommends <b>active surveillance</b> as the preferred management option for 
	CPG1 cancer.</p>
	<hr>
	<p>For more accurate and personalised information of the likely benefit from treatment you can visit the Prostate Predict website:</p>
	<p><a href="https://prostate.predict.nhs.uk/">Visit the Predict Prostate NHS Website</a></p>
	<hr>
	 
	<form method="post">
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Management options</button>	
		</div>

	</form>	 
{% endblock %}