{% extends 'base.html' %}

{% block content %}
   <h1>Description of Active Surveillance</h1>
   <hr>
	<p>Please note that Active Surveillance is an option for CPG Groups 1, 2 and 3</p>
	<p><a href="https://prostate.predict.nhs.uk/">Visit the Predict Prostate NHS Website</a></p>
	<hr>
	<p>Active surveillance is an option where your cancer is monitored closely and if things change then treatment may be suggested in future. 
	As part of AS you will be asked to have regular bold test (for PSA) , repeat MRI from time to time and perhaps a repeat biopsy. 
	Your doctor and or nurse can explain in more detail how active surveillance is done in your hospital.</p>
	<hr>
	<p>From the NICE guidelines: For localized prostate cancer only (CPG 1, 2, 3)<\p>
	<p>Year 1 of active surveillance:</p>
	<ul>
		<li>Every 3 to 4 months: measure prostate-specific antigen, PSA</li>
		<li>Throughout active surveillance: monitor PSA kinetics (could include PSA density and velocity)</li>
		<li>At 12 months: digital rectal examination</li>
		<li>At 12 to 18 months: multiparametric MRI</li>
	</ul>
	<p>Year 2 and every year thereafter:</p>
	<ul>
		<li>Every 6 months: measure PSA</li>
		<li>Throughout active surveillance: monitor PSA kinetics</li>
		<li>Every 12 months: digital rectal examination</li>
	</ul>
{% endblock %}