{% extends 'base.html' %}

{% block content %}
   <h1>Treatment options</h1>
   <hr>
	<p>Offer:</p>
	<form method="post">
		<div class="form-group">
			<button type="submit" class="btn btn-primary" name="button" value="radicalprostectomy">Radical Prostatectomy</button>	
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" name="button" value="RR6">Radical Radiotherapy with 6 months androgen deprivation therapy</button>	
		</div>
		<hr>
		<p>Consider:</p>
		<div class="form-group">
		<button type="submit" class="btn btn-primary" name="button" value="RR3">Radical Radiotherapy with 3 years androgen deprivation therapy</button>	
		</div>		
		<div class="form-group">
		<button type="submit" class="btn btn-primary" name="button" value="RBB">Radical Radiotherapy with brachytherapy boost</button>	
		</div>
	</form>
{% endblock %}