{% extends 'base.html' %}

{% block content %}
   <h1>Radical Radiotherpay / brachytherapy monotherapy</h1>
   <hr>
	 
<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="descriptionRB">Description of treatment</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="benefitsRB">Benefits</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="risksRB">Risks</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="animationsRB">Animations and patient videos</button>	
    </div>	
</form>

{% endblock %}