{% extends 'base.html' %}

{% block content %}
   <h1>Radical Prostectomy</h1>
   <hr>
	 
<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="descriptionRP">Description of radical prostectomy</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="benefitsRP">Benefits</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="risksRP">Risks</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="animationsRP">Animations and patient videos</button>	
    </div>	
</form>

{% endblock %}