{% extends 'base.html' %}

{% block content %}
   <h1>Radical Radiotherapy with Brachytherapy Boost</h1>
   <hr>
	 
<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="descriptionRBB">Description of treatment</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="benefitsRBB">Benefits</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="risksRBB">Risks</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="animationsRBB">Animations and patient videos</button>	
    </div>	
</form>

{% endblock %}