{% extends 'base.html' %}

{% block content %}
   <h1>Radical Radiotherapy with 6 months androgen deprivation therapy</h1>
   <hr>
	 
<form method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="descriptionRR6">Description of treatment</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="benefitsRR6">Benefits</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="risksRR6">Risks</button>	
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="button" value="animationsRR6">Animations and patient videos</button>	
    </div>	
</form>

{% endblock %}